a {
  text-decoration: none;
  color: inherit;
  font-family: inherit; }

h1 {
  margin: 0;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold; }

h2 {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  color: #bebebe;
  padding-top: 5px; }

h3 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  display: inline; }
  @media screen and (max-width: 620px) {
    h3 {
      display: block; } }

body {
  color: #585858;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0; }
  @media screen and (max-width: 620px) {
    body {
      width: 300px; } }

header {
  text-align: center;
  height: auto;
  margin: 0;
  padding-top: 80px; }

section {
  padding-top: 40px;
  text-align: center; }
  section button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    height: auto; }
    @media screen and (max-width: 620px) {
      section button {
        margin: auto;
        padding-bottom: 15px; } }
    section button h3 {
      font-size: 70px;
      font-weight: bold; }
    section button h3:hover {
      color: #bebebe; }
  section button:focus {
    outline: 0; }
  section .hideConversionButton {
    display: none; }
  section .showConversionButton {
    display: inline; }
    @media screen and (max-width: 620px) {
      section .showConversionButton {
        display: block; } }
  section h4 {
    margin: 0;
    padding-top: 45px;
    font-size: 30px; }
