a {
  text-decoration: none;
  color: inherit;
  font-family: inherit; }

h1 {
  margin: 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold; }

h2 {
  margin: 0;
  font-size: 10px;
  font-weight: normal;
  color: #bebebe; }

h3 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  display: inline; }

body {
  color: #585858;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px; }

header {
  text-align: center;
  height: 150px;
  margin: 10px; }

section {
  text-align: center; }
  section button {
    padding: 0;
    border: 0;
    background: none;
    display: inline-block;
    cursor: pointer; }
    section button h3 {
      font-size: 65px;
      font-weight: bold; }
  section button:focus {
    outline: 0; }
  section .hideConversionButton {
    display: none; }
  section .showConversionButton {
    display: inline; }
